<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>

  <link rel="apple-touch-icon" href="{{ site.configs.logo }}"/>
  <link rel="shortcut icon" sizes="16x16 24x24 32x32 48x48 64x64" href="{{ site.url }}/favicon.ico" />

  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/normalize.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/font-awesome.min.css">
  <link rel='stylesheet' href="{{ site.baseurl }}/assets/css/font-family.vollkorn.css" type='text/css'>

  <link rel="canonical" href="{{ site.url }}{{ page.url }}">

  <meta name="title" content="{{ site.configs.title }}">
  <meta name="description" content="{{ site.configs.tagline }}"/>

  <meta property="og:title" content="{{ site.configs.title }}"/>
  <meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
  <meta property="og:image" content="{{ site.url }}{{ site.baseurl }}{{ site.configs.logo }}"/>
  <meta property="og:description" content="{{ site.configs.tagline }}"/>
  <meta property="og:site_name" content="{{ site.configs.title }}">

  {% if site.configs.include_analytics %}
  {% include analytics.html %}
  {% endif %}
</head>
